.center {
  margin-top: 10vh;
  padding: 20px;
  text-align: center;
}

.forward {
  background-color: white;
  -webkit-box-shadow: 0 0 15px grey;
  box-shadow: 0 0 15px grey;
}

.disabled
{
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.25;
}
