<div class="center forward">
    <h2>Create New Request</h2>
    <form clrForm [formGroup]="requestForm">
        <clr-input-container>
            <label>Subject Code</label>
            <input clrInput placeholder="Ex: COSC, ECON, ENGS, etc." type="text" formControlName="subj" size="20"
                   required/>
            <clr-control-error>This is a required field</clr-control-error>
        </clr-input-container>

        <clr-input-container>
            <label>Course Number</label>
            <input clrInput placeholder="Number of the course" type="text" formControlName="number" size="20" required/>
            <clr-control-error>This is a required field</clr-control-error>
        </clr-input-container>

        <clr-input-container>
            <label>Period</label>
            <input clrInput type="text" placeholder="Ex: A, B, C, D, E, etc." formControlName="period" size="20"
                   required/>
            <clr-control-error>This is a required field</clr-control-error>
        </clr-input-container>

        <clr-input-container>
            <label>Professor</label>
            <input clrInput type="text" placeholder="Last name of professor" formControlName="prof" size="20" required/>
            <clr-control-error>This is a required field</clr-control-error>
        </clr-input-container>

        <clr-input-container>
            <label>Your Email</label>
            <input clrInput type="text" placeholder="For Notifications" formControlName="email" size="20" required/>
            <clr-control-error>This is a required field</clr-control-error>
        </clr-input-container>

        <br>
    </form>

    <div [ngClass]="{'disabled':this.requestForm.invalid}">
        <app-payments [requestForm]="requestForm" (createAlert)="sendAlert($event)"></app-payments>
    </div>

    <span class="spinner" *ngIf="this.show">
    Loading...
  </span>
</div>
