<div class="container-fluid">
    <div class="clr-row">
        <div *ngFor="let alert of alerts">
            <cw-alert [alertContent]="alert"></cw-alert>
        </div>
    </div>

    <div *ngIf="this.authService.user$ | async as user; else login"
         class="clr-row clr-align-items-center clr-justify-content-center">
        <div class="clr-col-lg-4">
            <app-new-requests (onFinishRequest)="pushAlert($event)"></app-new-requests>
        </div>

        <div class="clr-col-lg-6 clr-offset-lg-1">
            <app-current-requests [onSuccessRequest]="updateTable"></app-current-requests>
        </div>
    </div>

    <ng-template #login>
        <div class="clr-row clr-align-items-center clr-justify-content-center">
            <div *ngIf="!this.authService.isLoading">
                <app-login></app-login>
            </div>
        </div>
    </ng-template>
</div>
